body {
    background-color: #FFF;
    color: #1F1F21;
    font-size: 18px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0px;
    padding: 10px;
}

h1, h2, h3, p {
    margin: 0px;
    font-weight: normal;
}

#header {
    border-bottom: 2px solid #E4B7F0;
}